<div class="container my-4" style="position:relative;">
  <%= link_to "⬅ Back",
                      profile_user_services_path(@profile),
                      class: "btn btn-outline-secondary btn-sm me-3 mb-4" %>
  <div id="vaccination-loader" class="loader-overlay d-none">
    <span class="loader"></span>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center text-center my-2 mt-4">
    <h1>Vaccination checker</h1>
  </div>
  <p>Upload your vaccination certificate (image or PDF) to further personalize your checkups.*</p>
  <div class="mb-5 border p-4 rounded" style="background-color: #f8f9faff; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <%= form_with model: @profile,
                  url: profile_path(@profile),
                  local: true,
                  method: :patch,
                  html: { multipart: true, data: { role: "vaccination-form" } } do |form| %>
      <div class="mb-3">
        <%= form.file_field :vaccination_passes, accept: 'application/pdf,image/*', multiple: true, class: "form-control-sm vaccination-file-input" %>
      </div>
      <div class="d-flex justify-content-center">
        <%= form.submit "Check Vaccinations", class: "btn btn-primary btn-lg w-100" %>
      </div>
    <% end %>
  </div>

  <p class="mt-5">*Your vaccination data is interpreted with the help of an AI system. Although we aim for accuracy, the output may occasionally be incorrect or incomplete. Please verify all information yourself.</p>
</div>
