<footer class="bg-light text-center mt-auto py-3">
  <div class="container">
    <small class="text-muted d-block mb-1">© <%= Time.current.year %> MediMinder</small>
    <small class="text-muted d-block">MediMinder is in beta. Features are added with ❤️ continuously by Antonius, Christian and Dominik.</small>
  </div>
</footer>
