<div class="position-fixed bottom-0 start-50 translate-middle-x mb-4" style="z-index: 1030;">
  <div class="
      bg-light
      rounded-pill
      shadow
      d-flex
      justify-content-center
      align-items-center
      gap-5
      px-5 py-3

      w-75
      w-md-50
      w-lg-25
    ">

    <!-- Home -->
    <%= link_to root_path, class: "text-dark fs-3" do %>
      <i class="bi bi-house-fill"></i>
    <% end %>

    <!-- Profil -->
    <%= link_to root_path, class: "text-dark fs-3" do %>
      <i class="bi bi-person-fill"></i>
    <% end %>

    <!-- Calendar -->
    <%= link_to root_path, class: "text-dark fs-3" do %>
      <i class="bi bi-calendar-event-fill"></i>
    <% end %>

  </div>
</div>
