.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon.fixed-top {
  border-bottom: 1px solid #e0e0e0;
  z-index: 1030;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: auto;
  height: auto;
  max-height: 52px;
}

// added so that the navbar does not cover content (because it floates now)
body {
  padding-top: 70px;
}
